@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Light Theme */
:root {
  --background: #ffffff;
  --foreground: #212121;

  --font-playfair: "Playfair Display", serif;
  --font-urbanist: "Urbanist", sans-serif;
  --font-roboto: "Roboto Flex", sans-serif;
}

/* Dark Theme */
[data-theme="dark"] {
  --background: #181a20;
  --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181a20;
    --foreground: #fff;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  transition: background-color 0.3s, color 0.3s;
  font-family: var(--font-urbanist); /* Default font */
  min-height: 100vh;
  width: 100vw;
}

@layer components {
  .ipad-pro-container {
    @apply w-full h-full md:max-h-[900px] md:max-w-[700px] md:border-[3px] md:border-[#A7B5B9] dark:md:border-[#35383f] md:rounded-[45px] md:shadow-lg md:overflow-hidden;
  }

  .ipad-pro {
    @apply w-full h-full md:max-h-[897px] md:max-w-[697px] md:border-[20px] md:border-black md:rounded-[40px] md:shadow-lg overflow-hidden md:aspect-ratio;
  }

  .aspect-ratio {
    aspect-ratio: 3 / 4;
  }
}

.input-autofill:-webkit-autofill {
  /* Light theme */
  box-shadow: 0 0 0px 100px #fafafa inset;
  -webkit-box-shadow: 0 0 0 10000px #fafafa inset;
  color: #212121;
  -webkit-text-fill-color: #212121;
}

.dark .input-autofill:-webkit-autofill {
  /* Dark theme */
  box-shadow: 0 0 0px 100px #1f222a inset;
  -webkit-box-shadow: 0 0 0 100px #1f222a inset;
  color: #ffffff;
  -webkit-text-fill-color: #ffffff;
}
